<html>
    <head>
        <title>VSMP+</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/static/css/vsmp.css" />
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        {% block header %}{% endblock %}
    </head>
    <body>
        <div class="container">
        <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/setup">Setup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">VSMP+</h3>
        </div>
        {% for category,message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        <div id="js-success-alert" class="alert alert-success" style="display:none" role="alert"></div>
        <div id="js-error-alert" class="alert alert-danger" style="display:none" role="alert"></div>
        {% block content %}{% endblock %}
        <footer class="footer mt-4">
             <p><a href="">Rob Weber</a></p>
        </footer>
        </div>
    </body>
</html>
