{% extends "base.html" %}
{% block header %}
<script type="text/javascript">
function load_status(){
  $.ajax({type: 'GET', url: '/api/status', success: function(data, status, request){
    $('#file_title').text(data.name);

    $('#video_progress').css("width", data.percent_complete.toFixed(2) + "%");
    $('#video_progress').text(data.percent_complete.toFixed(2) + "%");

    setTimeout(load_status, 30000);
  }
  });
}

function run_action(action){
  $.ajax({type: 'POST', url: '/api/control/' + action, success: function(data, status, request){

    if(data.success)
    {
      // if success, toggle the buttons
      $('#toggle_play_button').toggle();
      $('#toggle_pause_button').toggle();
      $('#video_progress').toggleClass('bg-secondary');
    }
    else
    {
      showFlash(data.message, 'error');
    }
  }
  });
}
</script>
{% endblock %}
{% block content %}
<div class="page-header">
    <h2 id="file_title">Current Status</h2>
    <div class="progress" style="height: 30px;">
      <div class="progress-bar {{'bg-secondary' if not config['running'] else ''}}" id="video_progress" role="progressbar" style="width: 0%">0%</div>
    </div>
</div>
<div class="container my-2" align="center">
  <button class="btn btn-danger" id="toggle_pause_button" onClick="run_action('pause')" style="display: {{ 'display' if config['running'] else 'none' }}">Pause</button>
  <button class="btn btn-success" id="toggle_play_button" onClick="run_action('play')" style="display: {{ 'none' if config['running'] else 'display' }}">Play</button>
</div>
<script type="text/javascript">
$(document).ready(function () {
    load_status()
})
</script>

{% endblock %}
