{% extends "base.html" %}
{% block header %}
<script type="text/javascript">
var pStatus = {{ status['running'] | string | lower }};  //the current player status
var vInfo = null;  //info about the current video
var hoverPercent = 0;

function toggle_player_status(){
  //toggle the buttons
  $('#toggle_resume_button').toggle();
  $('#toggle_pause_button').toggle();
  $('#video_progress').toggleClass('bg-secondary');
  $('#next_update').toggle();

}

function load_status(){
  $.ajax({type: 'GET', url: '/api/status', success: function(data, status, request){
    var nextRun = new Date(data.player.next_run * 1000);  //convert unix timestamp to datefmt
    var dateString = nextRun.toLocaleTimeString('en-US', {timeStyle: 'short'});

    //only show date if not updating yet today
    if(nextRun.toLocaleDateString() != new Date().toLocaleDateString())
    {
      dateString = nextRun.toLocaleDateString('en-US', {dateStyle: 'short'}) + " " + dateString
    }

    $('#file_title').text(data.info.title);

    if(data.media == 'video')
    {
      $('#video_progress').css("width", data.percent_complete.toFixed(2) + "%");
      $('#video_progress').text(data.percent_complete.toFixed(2) + "%");
    }
    else
    {
      $('#video_progress').css("width", "100%");
      $('#video_progress').text("");
    }

    $('#next_update_text').text(dateString);

    // update the player status
    if(data.player.running != pStatus){
      pStatus = data.player.running
      toggle_player_status();
    }

    // set the video info
    vInfo = data.info

    setTimeout(load_status, 30000);
  }
  });
}

function run_action(action){
  $.ajax({type: 'POST', url: '/api/control/' + action, success: function(data, status, request){

    if(data.success)
    {
      //only toggle buttons if play/pause
      if(data.action == 'pause' || data.action == 'resume')
      {
        // update the player status
        pStatus = data.action == 'resume';

        toggle_player_status();
      }
      else {
        //show a message and refresh the status right away
        showFlash(data.message, 'success')
        load_status()
      }
    }
    else
    {
      showFlash(data.message, 'error');
    }
  }
  });
}

function calcSeconds(percent){
  localeOptions = {minimumIntegerDigits: 2, maximumFractionDigits: 0};

  //get the position from the given percent
  pos = percent * vInfo.frame_count;

  //turn pos into seconds/minutes/hours of video
  seconds = ((pos/vInfo.fps) % 60) % 60;
  minutes = ((pos/vInfo.fps)/60) % 60;
  hours = (pos/vInfo.fps)/60/60;

  //return hours.min of video
  return hours.toLocaleString('en-US', localeOptions) + ":" +
         minutes.toLocaleString('en-US', localeOptions) + ":" +
         seconds.toLocaleString('en-US', localeOptions);
}

function showPercent(){
  return hoverPercent.toFixed(2) + "% - " + calcSeconds(hoverPercent.toFixed(2)/100);
}
</script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <h2 id="file_title">Current Status</h2>
      </div>
      <div class="col-sm-4 text-right mb-1" id="next_update" style="display: {{ 'display' if status['running'] else 'none' }}">
        <i class="bi-alarm mr-2"></i><span id="next_update_text"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="progress tool-tip" data-toggle="tooltip" data-placement="top" id="video_progress_container" style="height: 30px;">
          <div class="progress-bar progress-bar-striped progress-bar-animated {{'bg-secondary' if not status['running'] else ''}}" id="video_progress" role="progressbar" style="width: 0%">0%</div>
        </div>
      </div>
    </div>
</div>
<div class="container my-2" align="center">
  {% if((config['media'] == 'video' and config['mode'] == 'dir') or (config['image_rotation'] == 'in_order')): %}
  <button class="btn btn-secondary mr-3" id="prev_button" onClick="run_action('prev')">Prev</button>
  {% endif %}
  <button class="btn btn-danger" id="toggle_pause_button" onClick="run_action('pause')" style="display: {{ 'display' if status['running'] else 'none' }}">Pause</button>
  <button class="btn btn-success" id="toggle_resume_button" onClick="run_action('resume')" style="display: {{ 'none' if status['running'] else 'display' }}">Resume</button>
  {% if((config['media'] == 'video' and config['mode'] == 'dir') or (config['image_rotation'] == 'in_order')): %}
  <button class="btn btn-secondary ml-3" id="next_button" onClick="run_action('next')">Next</button>
  {% endif %}
</div>
{% if(config['allow_seek'] and config['media'] == 'video'): %}
<div class="container">
  <div class="row mt-4 mb-2">
    <div class="col-md-12">
      Seeking when clicking on the progress bar is active. This will skip to that play mark within the video file on the next update. This can be disabled on the <a href="/setup">setup</a> page to avoid unwanted seeking.
    </div>
  </div>
</div>
{% endif %}
<script type="text/javascript">
$(document).ready(function () {
    load_status()

{% if(config['media'] == 'video'): %}
    $('.tool-tip')
      .attr('data-toggle', 'tooltip')
      .tooltip({
        trigger: 'manual',
        title: showPercent
      })

    // show when entering the element
    $('#video_progress_container').mouseenter(function(e){
      $('.tool-tip').tooltip('show');
    })

    // hide when leaving the element
    $('#video_progress_container').mouseleave(function(e){
      $('.tool-tip').tooltip('hide');
    })

    $('#video_progress_container').mousemove(function(e){
      //hide the tool tip
      $('.tool-tip').tooltip('hide');

      // get the element and use the jquery offset and width values
      var t = $('#video_progress_container')
      var x = e.pageX - t.offset().left;

      hoverPercent = (x/t.width()) * 100;  //convert the clicked area to a percentage 0-100

      // show the tooltip
      $('.tool-tip').tooltip('show');
    });
{% endif %}
{% if(config['allow_seek'] and config['media'] == 'video'): %}

    //add a listener for clicking on the progress bar
    $('#video_progress_container').click(function(e){
      seekPercent = {"amount": hoverPercent}  // use hoverpercent value as this is calculated on mouse movement

      $.ajax({type: 'POST', contentType: 'application/json', url: '/api/control/seek', data: JSON.stringify(seekPercent), success: function(data, status, request){
        if(data.success){
          //show a message and refresh the status right away
          showFlash(data.message, 'success')
          load_status()
        }
        else {
          showFlash(data.message, 'error')
        }
      }
      });

    });
{% endif %}
})
</script>
<div id="status">

</div>
{% endblock %}
