{% extends "base.html" %}
{% block header %}
<script src="/static/js/vsmp_setup.js"></script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row my-1">
    <div class="col-md-4 align-self-center">
      <b>Mode</b>
    </div>
    <div class="col-md-8">
      <select class="custom-select" id="config_mode" onChange="toggleDirSelect()">
        <option value="file" {{ 'selected' if config['mode'] == 'file' else '' }}>File</option>
        <option value="dir" {{ 'selected' if config['mode'] == 'dir' else '' }}>Directory</option>
      </select>
    </div>
  </div>
  <div class="row my-2 bg-light">
    <div class="col-md-12">
      The current play mode, can be a specific file or a full directory
    </div>
  </div>
  <div class="row my-1">
    <div class="col-md-4 align-self-center">
      <b>Path</b>
    </div>
    <div class="col-md-6">
      <input type="text" id="config_path" class="form-control" value="{{ config['path'] }}" readonly />
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" id="file_browse_button" onClick="toggleFileBrowser()">Browse</button>
    </div>
  </div>
  <div class="row my-1" id="file_browser" style="display:none">
    <div class="col-md-4">
      <!-- nothing here -->
    </div>
    <div class="col-md-8">
      <div class="p-2 font-weight-bold">
        Path: <span id="file_path">{{ config['path'] }}</span>
      </div>
      <div id="file_list" class="m-2 p-2 border border-secondary">
      </div>
      <div align="center" class="my-1">
        <button id="directory_select_button" class="btn btn-secondary" onClick="selectPath('')" style="{{ 'display:none' if config['mode'] == 'file' else '' }}">Select Directory</button>
      </div>
    </div>
  </div>
  <div class="row my-2 bg-light">
    <div class="col-md-12">
      The full system path to either the file or directory VSMP should pull from. This will be verified to exist upon save.
    </div>
  </div>
  <div class="row my-1">
    <div class="col-md-4 align-self-center">
      <b>Update Time</b>
    </div>
    <div class="col-md-8">
      <input type="text" id="config_update" class="form-control" value="{{ config['update'] }}" />
    </div>
  </div>
  <div class="row my-2 bg-light">
    <div class="col-md-12">
      How often to update the sign, given as a <a href="http://en.wikipedia.org/wiki/Cron">cron expression</a>
    </div>
  </div>
  <div class="row my-1">
    <div class="col-md-4 align-self-center">
      <b>Frames to increment</b>
    </div>
    <div class="col-md-8">
      <input type="text" id="config_increment" class="form-control" value="{{ config['increment'] }}" />
    </div>
  </div>
  <div class="row my-2 bg-light">
    <div class="col-md-12">
      How many frames to increment on each update.
    </div>
  </div>
  <div class="row my-1">
    <div class="col-md-4 align-self-center">
      <b>Start time skip</b>
    </div>
    <div class="col-md-8">
      <input type="text" id="config_start" class="form-control" value="{{ config['start'] }}" />
    </div>
  </div>
  <div class="row my-2 bg-light">
    <div class="col-md-12">
      How many <i>seconds</i> in to the video to skip when starting a new video
    </div>
  </div>
  <div class="row my-1">
    <div class="col-md-4 align-self-center">
      <b>End time skip</b>
    </div>
    <div class="col-md-8">
      <input type="text" id="config_end" class="form-control" value="{{ config['end'] }}" />
    </div>
  </div>
  <div class="row my-2 bg-light">
    <div class="col-md-12">
      How many <i>seconds</i> in to the video to skip at the end of a video, useful for skipping credit sequences
    </div>
  </div>
  <div class="row my-1">
    <div class="col-md-4 align-self-center">
      <b>Additional display options</b>
    </div>
    <div class="col-md-8">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="config_display_title" name="config_display" value="title" {{ 'checked' if 'title' in config['display'] else '' }}>
        <label class="form-check-label" for="config_display_title">Title</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="config_display_timecode" name="config_display" value="timecode" {{ 'checked' if 'timecode' in config['display'] else '' }}>
        <label class="form-check-label" for="config_display_timecode">Timecode</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="config_display_ip" name="config_display" value="ip" {{ 'checked' if 'ip' in config['display'] else '' }}>
        <label class="form-check-label" for="config_display_ip">Device IP</label>
      </div>
    </div>
  </div>
  <div class="row my-2 bg-light">
    <div class="col-md-12">
      Optionally display the video title, timecode, or device IP address below the video on the display. The device IP is useful for finding the device on the network.
    </div>
  </div>
  <div class="row my-1">
    <div class="col-md-4 align-self-center">
      <b>Allow seeking</b>
    </div>
    <div class="col-md-8">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="config_allow_seek" name="config_allow_seek" value="allow_seek" {{ 'checked' if config['allow_seek'] else '' }}>
        <label class="form-check-label" for="config_allow_seek">Allow</label>
      </div>
    </div>
  </div>
  <div class="row my-2 bg-light">
    <div class="col-md-12">
      Locks or unlocks seeking when clicking the progress bar in the web interface. Turning this off doesn't affect seeking using the api seek control.
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-12" align="center">
      <button class="btn btn-primary" onClick="saveConfig()">Save</button>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
    loadFiles("{{ config['path'][1:] }}");
})
</script>
{% endblock %}
