[Unit]
Description=Very Slow Media Player Plus
Requires=redis-server.service

[Service]
User=pi
WorkingDirectory=/home/pi/vsmp-plus
ExecStart=/home/pi/vsmp-plus/.venv/bin/python3 /home/pi/vsmp-plus/vsmp.py -c /home/pi/vsmp-plus/custom-conf.conf

[Install]
WantedBy=multi-user.target
